/* Colors
--------------------------*/
$white-color: #ffffff;
$black-color: #000000;

$primary-color: #50D113;
$primary-color-secondary: #FB765F;
$error-color: #DD2C00;

$text-color: rgba(0, 0, 0, 0.87);
$text-color-secondary: rgba(0, 0, 0, 0.56);

$button-color: $primary-color-secondary;
$button-color--active: #f85e43;